@charset "UTF-8";
/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */
/* CSS Document */
/* General */
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  height: 100%;
  /* background: #FFFFFF url('../img/layout/hd-bg.gif') repeat-x 0 10px; */
  text-align: center;
  font: 1.2em Verdana, Arial, Helvetica, sans-serif;
  /* min-width: 960px; */
  min-width: auto; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

/* bar oberer Rand */
#bar {
  background: #151515;
  height: 10px; }

/* darf nicht f├╝r btn btn-primary ausgef├╝hrt werden */
a:link, a:visited {
  color: #005890;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  color: #005890; }

address {
  line-height: 2;
  text-align: left;
  margin: 0.3em 1em; }

.noscreen {
  display: none; }

/* Cleaner */
.cleaner {
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden; }

/* Skip menu */
.hidden {
  position: absolute;
  top: -10000px;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.cleaning-box {
  min-height: 1px; }

.cleaning-box:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: ' '; }

/* Images */
/* Wrapper */
#wrapper {
  margin: 0 auto; }

/* Headings, paragraphs */
h1 {
  font: 2.7em Georgia, "Times New Roman", Times, serif;
  color: #FFFFFF;
  padding: 20px 0 4px 0;
  margin: 0 0 0 4px;
  border-bottom: 1px solid #6A9E4D; }

h1 a:link, h1 a:visited {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal; }

/*
h2 {
font-size: 1.9em;
font-weight: normal;
color: #538700;
margin-bottom: 3px;
}
*/
h2 {
  font-size: 1.5em;
  font-weight: normal;
  /* color: #538700; */
  margin-bottom: 10px;
  border-bottom: 1px dotted silver; }

h3.sub {
  font: 1.4em Georgia, "Times New Roman", Times, serif;
  color: #3A3A3A;
  margin-bottom: 10px;
  margin-top: 10px;
  background: none;
  padding-top: 0; }

h3 {
  font: 1.4em Georgia, "Times New Roman", Times, serif;
  color: #3A3A3A;
  margin-bottom: 0px;
  /*background-color: #ADDEFF; /*#E3F5FF;*/
  padding: 3px 0 3px 0;
  /* margin-left: -7px; */ }
  h3 ul {
    padding: 0px 15px;
    margin: 0px; }

#column-2 h4 {
  font: bold 1.1em Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 5px;
  background-color: #006BA3;
  color: #FFFFFF;
  padding: 6px 0 6px 10px; }

h4.nobg {
  background: none;
  padding: 6px 0 6px 10px;
  margin-bottom: 0px;
  color: #000000; }

p {
  line-height: 1.8;
  color: #252525;
  margin-bottom: 10px; }

.text ul {
  margin-left: 15px; }

.error {
  color: red; }

/* Header */
#header {
  /*width: 960px;*/
  width: auto;
  height: 149px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  background: #327000 url("../img/layout/hd-bg.gif") repeat-x 0 0; }

#header p.title {
  color: white;
  line-height: 1.8;
  position: relative;
  z-index: 2;
  padding: 5px 0 0 0;
  margin: 0 0 0 5px;
  font: 1.3em Georgia, "Times New Roman", Times, serif;
  color: #FFFFFF;
  letter-spacing: 1px; }

/* 3 columns layout */
#column-1 {
  float: left;
  width: 710px;
  /* width: 510px;*/ }

#column-2 {
  float: right;
  /* width: 448px; */
  width: 248px; }

/* Header-Inhalt und Content-Inhalt vom linken Rand etwas wegschieben */
#column-1, #column-2 {
  padding-bottom: 60px;
  padding-top: 10px; }

#column-1 {
  padding-left: 10px;
  padding-right: 10px; }

#header h1 a {
  padding: 0 10px; }

#header p.title {
  padding: 5px 10px 0 10px; }

/* Related Buttons */
#column-2 .related-buttons .btn {
  margin-bottom: 5px;
  width: 100%;
  background-color: #EEEEEE;
  border-color: #dfdfdf; }
  #column-2 .related-buttons .btn:hover {
    color: #005890 !important;
    text-decoration: none;
    background-color: #f8d0cc; }

/* obere Box*/
#column-2 #column-21 {
  /* float: left; width: 212px; */
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif; }

/* untere Box*/
#column-2 #column-22 {
  /* float: right; width: 234px; */
  margin-top: 0; }

/*
#column-21 div.content{ margin: 0.4em 0.8em 1.2em 0.5em; }
#column-22 div.content { margin: 0.4em 0 1.2em 1.5em; }
*/
/* Padding-Abstand bereits in column-1 oder 2 gesetzt 
 * hier kein padding oder margin mehr 
 */
#content {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  background-color: #FFFFFF; }
  #content #content2 {
    display: none; }

@media only screen and (max-width: 979px) {
  #content {
    /*Responsive: column-2 unter column-1*/
    display: flex;
    flex-direction: column;
    width: 100%;
    /*Content-Spalte ├╝ber ganze Breite*/ }

  #column-1, #column-2 {
    width: 100%;
    /*Inhalt in Content-Spalte ├╝ber ganze Breite*/
    padding: 10px;
    /* Rand dazuf├╝gen */ } }
@media print {
  /*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */
  /* CSS Document - print style sheet */
  body {
    background-color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.3; }

  h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #595959; }

  h1 {
    font-size: 16pt; }

  h2 {
    font-size: 14pt; }

  h3, h4, h5, h6 {
    font-size: 11pt; }

  /*
  a:link, a:visited {
  text-decoration: underline;
  font-weight: bolder;
  color: #000000;
  }
  */
  a img {
    border: 1px solid #595959; }

  .hidden {
    position: absolute;
    top: -10000px;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden; }

  #menu, p.print {
    display: none; }

  small {
    font-style: italic; } }
/* Right menu */
ul.r-list {
  list-style: none;
  margin: 0px 0 0px 0; }

ul.r-list li {
  /* margin-bottom: 10px; */ }

ul.r-list li a, ul.r-list li a:visited {
  display: block;
  padding: 8px 10px 9px 10px;
  text-decoration: none;
  font-weight: normal;
  /* border-right: 1px solid #CCCCCC; */
  border-bottom: 1px solid #CCCCCC;
  height: 1%;
  /* The Holly Hack for IE 6 */ }

ul.r-list li a:hover {
  /* border-right: 1px solid #909090; */
  border-bottom: 1px solid #909090; }

ul.r-list li a.active, ul.r-list li a:hover {
  background-color: #E3F5FF; }

/* Definition list - middle columns (News) */
#column-21 dl {
  margin: 8px 0 20px 1px; }

#column-21 dt {
  font-weight: bold;
  margin: 0 0 1px 0; }

#column-21 dd {
  margin: 0 0 11px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px dotted #909090;
  line-height: 1.5; }

#column-21 dd a, #column-21 dd a:visited {
  color: #101010;
  font-weight: normal;
  text-decoration: none; }

#column-21 dd a:hover {
  text-decoration: underline; }

/* Gallery */
.galerie {
  margin: 18px 0 0 0; }

.foto {
  float: left;
  display: inline;
  width: 122px;
  height: 100px;
  margin: 0 23px 16px 0;
  background-color: white;
  position: relative; }

.foto img {
  border: 1px solid silver; }

.foto a:hover img {
  border: 1px solid #606060; }

/* Footer */
#footer {
  background-color: #327000;
  height: 90px;
  border-top: 6px solid #1B3D00; }

#footer-in {
  width: 960px;
  margin: 0 auto;
  font: 1.2em Georgia, "Times New Roman", Times, serif; }

#footer-in ul {
  list-style: none;
  padding: 10px 0 0 0;
  text-align: left;
  font-size: 0.9em;
  float: left;
  width: 650px;
  color: #FBFBFB; }

#footer-in ul li {
  float: left;
  display: inline;
  white-space: nowrap; }

#footer-in ul li a, #footer-in ul li a:visited {
  color: #FBFBFB;
  margin: 0 8px;
  font-weight: normal; }

#footer-in p.print {
  float: right;
  text-align: right;
  width: 240px;
  padding: 10px 0 0 0;
  line-height: 1;
  margin: 0;
  color: #FFFFFF; }

#footer-in p.print a, #footer-in p.print a:visited {
  color: #FBFBFB;
  font-weight: normal; }

#footer-in p#backs {
  line-height: 1;
  margin: 45px 0 0 0;
  color: #D1DDC5;
  font-size: 0.8em; }

#footer-in p#backs a, #footer-in p#backs a:visited {
  color: #D1DDC5;
  font-weight: normal;
  padding: 0 1px; }

#footer-in p#backs a:hover {
  color: #FFFFFF; }

.btn-danger {
  color: #ffffff !important; }

.btn-primary {
  background-color: #006BA3;
  color: #ffffff !important; }

.btn-primary.disabled {
  background-color: #006BA3;
  opacity: 0.4; }

.btn-light {
  background-color: #E2E6EA; }

/* icons in correct size */
.material-icons {
  padding: 0;
  font-size: 18px;
  color: #000000; }
  .material-icons.disabled {
    color: silver; }
  .material-icons.empty {
    width: 18px;
    height: 18px; }

/*
.alert {
  display: flex;
  padding: 2px 5px;
}
.alert p {
  margin: 0px;
  padding: 0px;
}
*/
/* tablesaw-update */
.tablesaw-stack tbody td, .tablesaw-stack tbody th {
  float: none !important; }

/****** Editline *******/
.edit-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #dfdfdf;
  border-bottom: 0px;
  background-color: #EEEEEE;
  border-radius: 3px 3px 0px 0px;
  margin: 0px;
  padding: 3px; }
  .edit-line.releasestatus-first {
    flex-direction: row-reverse; }
  .edit-line a {
    color: #ffffff;
    margin: 0px 3px; }
    .edit-line a.btn {
      padding: .175rem .45rem .0rem; }
    .edit-line a.isSortButton {
      display: none; }
  .edit-line.align-right {
    justify-content: flex-end; }
  .edit-line.align-left {
    justify-content: flex-start; }
  .edit-line .btn-danger span {
    color: #ffffff; }
  .edit-line .btn-light {
    border-color: #474747;
    color: #474747; }
    .edit-line .btn-light:hover {
      background-color: #D2D6DA; }
  .edit-line .release-icons {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px; }
    .edit-line .release-icons div {
      border-radius: 8px;
      background-color: green;
      border-color: #000000;
      height: 7px;
      width: 7px;
      margin: 2px;
      padding: 0px;
      margin-top: 8px; }
    .edit-line .release-icons.expired div, .edit-line .release-icons.waiting div {
      background-color: silver; }
    .edit-line .release-icons.released div {
      background-color: green; }
    .edit-line .release-icons.notreleased div {
      background-color: red; }

.edit-line-old {
  position: relative;
  display: flex;
  border: 1px solid #dfdfdf;
  border-bottom: 0px;
  background-color: #EEEEEE;
  border-radius: 3px 3px 0px 0px;
  margin: 0px;
  padding: 3px; }
  .edit-line-old a {
    color: #ffffff;
    margin: 0px 3px; }
    .edit-line-old a.btn {
      padding: .175rem .45rem .0rem; }
  .edit-line-old.align-right {
    justify-content: flex-end; }
  .edit-line-old.align-left {
    justify-content: flex-start; }
  .edit-line-old .btn-danger span {
    color: #ffffff; }
  .edit-line-old .btn-light {
    border-color: #474747;
    color: #474747; }
    .edit-line-old .btn-light:hover {
      background-color: #D2D6DA; }
  .edit-line-old .release-icons, .edit-line-old .extra-icons {
    position: absolute;
    left: 5px;
    display: flex;
    flex-direction: row; }
    .edit-line-old .release-icons.right, .edit-line-old .extra-icons.right {
      right: 5px;
      left: auto; }
    .edit-line-old .release-icons div, .edit-line-old .extra-icons div {
      border-radius: 8px;
      background-color: green;
      border-color: #000000;
      height: 7px;
      width: 7px;
      margin: 2px;
      padding: 0px;
      margin-top: 8px; }
    .edit-line-old .release-icons.expired div, .edit-line-old .release-icons.waiting div, .edit-line-old .extra-icons.expired div, .edit-line-old .extra-icons.waiting div {
      background-color: silver; }
    .edit-line-old .release-icons.released div, .edit-line-old .extra-icons.released div {
      background-color: green; }
    .edit-line-old .release-icons.notreleased div, .edit-line-old .extra-icons.notreleased div {
      background-color: red; }

/** Editline End **/
.newslist, .list {
  margin-bottom: 5px; }
  .newslist .field-searchstringInput label, .list .field-searchstringInput label {
    display: none; }
  .newslist.column, .list.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .newslist .card, .list .card {
    flex-direction: row;
    /*gilt nicht f├╝r .image-manager .card*/
    max-height: 90px;
    /* gilt nicht f├╝r .image-manager .card */
    overflow: hidden; }
    .newslist .card.withDocs, .list .card.withDocs {
      max-height: none; }
      .newslist .card.withDocs .docItem, .list .card.withDocs .docItem {
        border: 0px; }
    .newslist .card.withImageName, .list .card.withImageName {
      max-height: 110px; }
    .newslist .card.image, .list .card.image {
      flex-direction: column;
      max-height: 140px;
      max-width: 120px;
      margin-right: 3px; }
      .newslist .card.image .card-img-top, .list .card.image .card-img-top {
        border: 1px solid rgba(0, 0, 0, 0.125);
        height: 90px;
        width: auto; }
      .newslist .card.image .card-body, .list .card.image .card-body {
        padding-top: 0px; }
      .newslist .card.image .card-text, .list .card.image .card-text {
        font-size: 10px;
        height: 14px;
        overflow: hidden; }
      .newslist .card.image .material-icons, .list .card.image .material-icons {
        width: 45px;
        font-size: 18px; }
    .newslist .card .card-img-top, .list .card .card-img-top {
      /*
      width: 180px;
      height: 120px;
      */
      /* Images sollten einheitlich vorher auf 120x90 gerendert sein
       * Hier wird aber nur die H├Âhe geetzt */
      width: auto;
      height: 90px; }
    .newslist .card .card-img-top-wrapper, .list .card .card-img-top-wrapper {
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      border-right: 1px solid rgba(0, 0, 0, 0.125);
      width: 120px;
      overflow: hidden; }
    .newslist .card .card-doc-top, .list .card .card-doc-top {
      width: 50px;
      height: 50px;
      display: block;
      background-image: url("../img/documentimages/doc2-org.jpg");
      background-size: 50px auto; }
    .newslist .card .card-doc-description, .list .card .card-doc-description {
      font-size: 7pt;
      margin-left: 5px; }
    .newslist .card .card-body, .list .card .card-body {
      padding: 0.5rem; }
      .newslist .card .card-body .card-title, .list .card .card-body .card-title {
        font-weight: bold;
        margin-bottom: 0px; }
      .newslist .card .card-body .card-text, .list .card .card-body .card-text {
        line-height: 1.5;
        margin-bottom: 4px;
        font-style: italic; }

.flexbox {
  /*position: relative;*/
  display: flex;
  flex-direction: row;
  /*mit letztem Element rechts*/
  /* bei input checkbox,radio abstand zwischen input und name*/ }
  .flexbox.space-between {
    justify-content: space-between; }
  .flexbox.align-center {
    align-items: center; }
  .flexbox .flex-item {
    margin: auto 5px;
    /*gr├Â├ƒeres Icon*/ }
    .flexbox .flex-item.bigicon span {
      font-size: 30px; }
  .flexbox.input .text {
    margin-left: 5px;
    padding-top: 4px; }

@media only screen and (max-width: 980px) {
  .newslist .card {
    max-height: none; } }
.image-item .noImage-text {
  font-style: italic; }
.image-item a {
  /* font-weight: normal; */ }
  .image-item a.editImageLink {
    font-style: italic; }

.image-manager .noImage-text {
  font-style: italic; }

/* icons */
.document-manager .documentmanager-link {
  padding: 5px 0; }
  .document-manager .documentmanager-link a {
    font-weight: bold;
    font-style: normal; }
.document-manager .selectable .docItem .btn-danger {
  display: none; }
.document-manager .selected .docItem {
  background-color: gainsboro; }
  .document-manager .selected .docItem .btn-primary {
    display: none; }
.document-manager .docItem {
  border: 1px solid silver;
  border-radius: 1em/1em;
  padding: 5px 5px;
  margin: 3px 0px; }
  .document-manager .docItem .icon {
    padding-left: 25px;
    width: 36px;
    height: 32px;
    overflow: hidden;
    display: block;
    background-size: 28px auto;
    background-repeat: no-repeat; }
    .document-manager .docItem .icon.pdf {
      background-image: url("../img/documentimages/pdf.gif"); }
    .document-manager .docItem .icon.doc {
      background-image: url("../img/documentimages/doc2.jpg"); }
    .document-manager .docItem .icon.xls {
      background-image: url("../img/documentimages/excel2.gif"); }
    .document-manager .docItem .icon.ppt {
      background-image: url("../img/documentimages/ppt2.gif"); }
    .document-manager .docItem .icon.zip {
      background-image: url("../img/documentimages/zip2.gif"); }
  .document-manager .docItem a {
    font-weight: normal; }
    .document-manager .docItem a.btn.material-icons {
      width: 45px;
      font-size: 18px; }
  .document-manager .docItem .infos {
    font-style: italic; }
  .document-manager .docItem .buttons {
    margin-top: 5px; }
.document-manager .demo {
  display: none; }

.field-image-usage ul, .field-document-usage ul {
  padding-left: 15px; }

/* Votings */
.voting-list {
  /*edit-topic-voting*/ }
  .voting-list .list-group a p {
    font-weight: normal; }
  .voting-list .list-group .header {
    margin-bottom: 10px; }
  .voting-list .input-group {
    /*Umrandung, wenn ausgew├ñhlt*/ }
    .voting-list .input-group .input-group-text.selected {
      border-color: green; }
    .voting-list .input-group .option.selected {
      border-top-color: green;
      border-right-color: green;
      border-bottom-color: green; }
    .voting-list .input-group .option {
      border: 1px solid #ced4da; }
      .voting-list .input-group .option.disabled {
        background-color: #e9ecef; }
  .voting-list .form-group .saved {
    margin-bottom: 10px; }
  .voting-list small {
    color: green;
    font-style: italic; }
  .voting-list .questiontype {
    font-weight: normal;
    color: #000000; }
  .voting-list .questionstatus {
    font-weight: normal; }
    .voting-list .questionstatus.active {
      color: green; }
    .voting-list .questionstatus.inactive {
      color: red; }

.voting-weight-table .line {
  display: flex;
  flex-direction: row; }
  .voting-weight-table .line div, .voting-weight-table .line a {
    padding-left: 0px;
    margin-right: 15px; }
  .voting-weight-table .line .new {
    margin: 0px;
    padding: 5px;
    border: 1px dashed silver;
    border-radius: 2px;
    text-align: center;
    background-color: #FBFBFB;
    color: silver;
    font-weight: normal; }
    .voting-weight-table .line .new:hover {
      text-decoration: none;
      background-color: #FAFAFA;
      color: grey; }
  .voting-weight-table .line input {
    margin-right: 15px; }
  .voting-weight-table .line a.btn {
    margin: 2px 3px;
    padding: 0px;
    height: 20px;
    text-align: center;
    color: #ffffff; }
    .voting-weight-table .line a.btn.btn-danger .material-icons {
      color: #ffffff;
      transform: scale(0.9); }

.nopadding .col-sm-9, .nopadding .col-3 {
  padding: 0px; }

/*# sourceMappingURL=layout.css.map */
